<%= render "shared/setting_banners" %>

<% unless @articles.empty? %>
  <section id="articles-section">
    <div class="container">
      <div class="row">
        <div class="col-12 blog-content no-padding-lr">
          <ul class="blog-classic blog-wrapper grid grid-loading grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-large">
            <li class="grid-sizer"></li>
            <% @articles.each do |article| %>
              <!-- start post item -->
              <li class="grid-item last-paragraph-no-margin wow animate__fadeInUp">
                <div class="blog-post blog-post-style1 text-start">
                  <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom border-radius-8">
                    <a href="<%= article_path(article) %>">
                      <%= image_tag article.image, alt: article.title %>
                    </a>
                  </div>
                  <div class="post-details margin-20px-bottom w-95">
                    <span class="btn btn-medium btn-rounded btn-border btn-prisma mb-4"><%= article.try(:category).try(:name) %></span>
                    <a href="<%= article_path(article) %>" class="post-title font-weight-600 text-extra-large text-extra-dark-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom"><%= article.title %></a>
                    <span class="post-author text-extra-dark-gray d-block margin-15px-bottom"><%= article.short_description %></span>
                  </div>
                </div>
              </li>
              <!-- end post item -->
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </section>
<% end %>
<%= render "shared/prisma_adv" %>
<%= render "shared/our_services_second" %>
<%= render "shared/our_portfolios" %>
<%= render "shared/our_industries" %>
