<!-- start page single banner -->
<section class="p-0 single-banner parallax" data-parallax-background-ratio="0.5" style="background-image:url('<%= url_for(@portfolio.banner) if @portfolio.banner.attached? %>');">
  <div class="opacity-medium bg-transparent-black z-index-0"></div>
	<div class="full-screen text-white-2">
		<div class="container position-relative h-100">
			<div class="row h-100 align-items-center">
				<div class="col-xl-10 col-md-10">
          <span class="d-block mb-2"><%= t('portfolios.caption') %></span>
					<h2 class="font-weight-600 text-white-2 alt-font w-90"><%= @portfolio.name %></h2>
          <div class="text-start w-50 sm-w-100"><%= @portfolio.caption %></div>
          <div class="mt-4">
            <% if @portfolio.service %>
              <span class="btn btn-medium btn-rounded btn-border btn-transparent-prisma sm-margin-10px-bottom me-1"><%= @portfolio.try(:service).try(:name) %></span>
            <% end %>
            <% if @portfolio.industry %>
              <span class="btn btn-medium btn-rounded btn-border btn-transparent-prisma"><%= @portfolio.try(:industry).try(:name) %></span>
            <% end %>
          </div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end page single banner -->
