<%- portfolios = Portfolio.first(3) %>
<% unless portfolios.empty? %>
  <section>
    <div class="container">
      <div class="row justify-content-start align-items-center margin-20px-bottom wow animate__fadeIn">
        <div class="col-12 col-lg-7">
          <h5 class="text-black font-weight-600"><%= t('portfolios.title') %></h5>
          <div class="mb-3 d-none d-md-block w-600px"><%= t('portfolios.desc') %></div>
        </div>
        <div class="col-12 col-lg-5 text-start text-md-end">
          <%= link_to portfolios_path, class: "btn btn-medium btn-rounded btn-border btn-prisma" do %>
            <%= t('global.view_all') %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 blog-content">
          <ul class="blog-classic blog-wrapper grid grid-loading grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-large">
            <li class="grid-sizer"></li>
            <% portfolios.each do |portfolio| %>
              <!-- start post item -->
              <li class="grid-item last-paragraph-no-margin wow animate__fadeInUp">
                <div class="blog-post blog-post-style1 text-start">
                  <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom border-radius-8">
                    <a href="<%= portfolio_path(portfolio) %>">
                      <%= image_tag portfolio.image, alt: portfolio.name %>
                    </a>
                  </div>
                  <div class="post-details margin-20px-bottom w-95">
                    <div class="mb-4">
                      <% if portfolio.service %>
                        <span class="btn btn-medium btn-rounded btn-border btn-prisma sm-margin-10px-bottom"><%= portfolio.try(:service).try(:name) %></span>
                      <% end %>
                      <% if portfolio.industry %>
                        <span class="btn btn-medium btn-rounded btn-border btn-prisma"><%= portfolio.try(:industry).try(:name) %></span>
                      <% end %>
                    </div>
                    <a href="<%= portfolio_path(portfolio) %>" class="post-title font-weight-600 text-extra-large text-black text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom"><%= portfolio.name %></a>
                    <span class="post-author text-black d-block margin-15px-bottom"><%= raw portfolio.short_description %></span>
                  </div>
                </div>
              </li>
              <!-- end post item -->
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </section>
<% end %>
