<%- @industries = Industry.all -%>
<% unless @industries.empty? %>
  <section class="bg-image" style="background-image:url('<%= image_url('bg-industry.png') %>');">
    <div class="container">
      <div class="row justify-content-start align-items-center margin-40px-bottom wow animate__fadeIn">
        <div class="col-6 col-lg-7">
          <h5 class="text-white-2 font-weight-600"><%= t('industries.title') %></h5>
          <div class="text-silver font-weight-400 mb-3 d-none d-md-block"><%= t('industries.desc') %></div>
        </div>
        <div class="col-6 col-lg-5 no-padding-lr text-start text-end">
          <%= link_to industries_path, class: "btn btn-medium btn-rounded btn-border btn-transparent-prisma" do %>
            <%= t('global.view_all') %>
          <% end %>
        </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-3 md-margin-70px-bottom sm-margin-50px-bottom wow animate__fadeIn">
            <img src="<%= image_url('prism.png') %>" alt="Prisma Logo"/>
          </div>
          <div class="col-lg-9">
              <div class="row row-cols-1 row-cols-xl-4 row-cols-lg-2 row-cols-md-2 row-cols-sm-2 m-0">
                <% @industries.each_with_index do |industry, index| %>
                  <!-- start features box item -->
                  <div class="col d-flex padding-10px-lr margin-20px-bottom text-center text-lg-start wow animate__fadeInUp last-paragraph-no-margin" data-wow-delay="0.<%= index + 1 %>s">
                    <div class="h-100 w-100 transparent-box-solid">
                      <a href="<%= industry_path(industry) %>" class="d-inline-block text-black text-medium font-weight-600 mb-4"><%= industry.name %></a>
                      <p class="d-inline-block text-medium text-silver font-weight-400"><%= truncate(strip_tags(industry.description), length: 80) %></p>
                    </div>
                  </div>
                  <!-- end features box item -->
                <% end %>
              </div>
          </div>
      </div>
    </div>
  </section>
<% end %>
