<%- swiper_color = @banner_text_color == "text-white-2" ? "bullet-white" : "" -%>
<!-- start slider section -->
<section class="p-0 bg-black multiple-banner main-slider">
	<div class="swiper full-screen <%= @banner_text_color %> md-landscape-h-580px" data-slider-options='{ "loop": true, "slidesPerView": "1", "effect": "fade", "allowTouchMove": true, "fadeEffect": { "crossFade": true }, "autoplay": { "delay": 11000, "disableOnInteraction": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev" }, "pagination": { "el": ".swiper-pagination-01", "clickable": true } }'>
		<div class="swiper-wrapper">
			<% @banners.reverse.each do |banner| %>
				<%- text_desc_width = "w-25 lg-w-30 md-w-50 sm-w-100" -%>
				<%- text_desc_width = "w-45 lg-w-45 md-w-50 sm-w-100" if !banner.description.blank? && banner.description.length >= 130 -%>
				<!-- start slider item -->
          <% if banner.is_video? %>
            <div class="swiper-slide">
          <% else %>
            <div class="swiper-slide banner-cover-background" style="background-image:url('<%= url_for(banner.image) if banner.image.attached? %>');">
            <div class="opacity-medium bg-transparent-black z-index-0"></div>
          <% end %>
					<div class="container h-100">
						<div class="row h-100">
              <div class="col-12 d-flex justify-content-center flex-column text-center text-md-start">
                <h2 class="alt-font font-weight-700 w-55 margin-30px-bottom lg-w-60 md-w-70 lg-line-height-auto sm-w-100 sm-margin-15px-bottom"><%= raw banner.title %></h2>
                <p class="text-large margin-four-bottom w-40 lg-w-50 md-w-60 sm-w-100 sm-margin-15px-bottom"><%= raw banner.description %></p>
                <% if banner.link_buttons.size > 0 %>
                <div class="btn-dual">
                  <% banner.link_buttons.each do |link_button| %>
                    <%= render_link_text_url(link_button, "btn btn-medium #{@banner_btn_color} btn-rounded") %>
                  <% end %>
                </div>
                <% end %>
							</div>
						</div>
					</div>
					<%- if banner.is_video? -%>
					<video class="htms-video video-js" poster="<%= url_for(banner.image) if banner.image.attached? %>" autoplay loop muted playsinline>
						<source type="<%= banner.video.content_type %>" src="<%= url_for(banner.video) %>">
					</video>
					<%- end -%>
				</div>
				<!-- end slider item -->
			<% end %>
		</div>
		<!-- start slider pagination -->
		<div class="swiper-pagination swiper-pagination-01 swiper-pagination-white <%= swiper_color %>"></div>
		<!-- end slider navigation -->
	</div>
</section>
<!-- end slider section -->
