<%- swiper_color = @banner_text_color == "text-white-2" ? "bullet-white" : "" -%>
<!-- start slider section -->
<section class="p-0 bg-black multiple-banner main-slider">
	<div class="swiper full-screen <%= @banner_text_color %> md-landscape-h-580px" data-slider-options='{ "loop": true, "slidesPerView": "1", "effect": "fade", "allowTouchMove": true, "fadeEffect": { "crossFade": true }, "autoplay": false, "keyboard": { "enabled": true, "onlyInViewport": true }, "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev" }, "pagination": { "el": ".swiper-pagination-01", "clickable": true } }'>
		<div class="swiper-wrapper">
			<% @banners.reverse.each do |banner| %>
				<%- text_desc_width = "w-25 lg-w-30 md-w-50 sm-w-100" -%>
				<%- text_desc_width = "w-45 lg-w-45 md-w-50 sm-w-100" if !banner.description.blank? && banner.description.length >= 130 -%>
				<!-- start slider item -->
          <% if banner.is_video? %>
            <div class="swiper-slide">
          <% else %>
            <div class="swiper-slide banner-cover-background" style="background-image:url('<%= url_for(banner.image) if banner.image.attached? %>');">
            <div class="opacity-medium bg-transparent-black z-index-0"></div>
          <% end %>
					<div class="container position-relative h-100">
            <div class="row h-90p align-items-end">
              <div class="col-lg-12 col-md-12">
                <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                  <div class="w-100 w-md-50">
                    <h4 class="font-weight-600 text-white-2 alt-font mb-md-0 sm-margin-10px-bottom"><%= raw banner.title %></h4>
                    <% if banner.link_buttons.size > 0 %>
                      <div class="btn-dual margin-20px-top">
                        <% banner.link_buttons.each do |link_button| %>
                          <%= render_link_text_url(link_button, "btn btn-medium #{@banner_btn_color} btn-rounded") %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <div class="text-start text-md-end w-100 w-md-50"><%= raw banner.description %></div>
                </div>
							</div>
						</div>
					</div>
					<%- if banner.is_video? -%>
					<video class="htms-video video-js" poster="<%= url_for(banner.image) if banner.image.attached? %>" autoplay loop muted playsinline>
						<source type="<%= banner.video.content_type %>" src="<%= url_for(banner.video) %>">
					</video>
					<%- end -%>
				</div>
				<!-- end slider item -->
			<% end %>
		</div>
		<!-- start slider pagination -->
		<div class="swiper-pagination swiper-pagination-01 swiper-pagination-white <%= swiper_color %>"></div>
		<!-- end slider navigation -->
	</div>
</section>
<!-- end slider section -->
