<%- subsidiaries = Subsidiary.first(4) -%>
<div class="container-xl d-none d-md-block">
	<div class="row align-items-start">
		<div class="col-lg-10 wow animate__fadeInLeft">
			<h3 class="font-weight-320 text-extra-dark-gray text-uppercase mb-3"><%= snippet.title %></h3>
			<p class="margin-30px-bottom"><%= raw snippet.short_description %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 business-line grid-loading wow animate__fadeIn">
			<div class="row row-cols-1 row-cols-xl-3 row-cols-md-3 m-0 justify-content-end">
				<% subsidiaries.reverse.each_with_index do |subsidiary, index| %>
					<!-- start interactive banners item -->
					<div class="col no-padding-lr grid-item feature-box-19 cover-background">
						<figure id="figure-<%= index+1 %>" class="h-600px sm-h-500px m-0">
							<div class="title-figure">
								<%= image_tag(url_for(subsidiary.logo), class: "margin-10px-top d-inline-block", alt: subsidiary.name) if subsidiary.logo.attached? %>
							</div>
							<figcaption>
								<span class="text-white-2 text-large margin-25px-bottom w-100 md-margin-seven-bottom"><%= raw subsidiary.description %></span>
								<a href="<%= page_path(subsidiary.page) %>" class="btn btn-medium btn-rounded btn-transparent-prisma"><%= t('global.read_more') %> <i class="prisma-icon-right icon-very-small" aria-hidden="true"></i></a>
							</figcaption>
						</figure>
					</div>
					<!-- end interactive banners item -->
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="container-xl d-block d-md-none no-padding-lr">
		<div class="row row-cols-1 row-cols-lg-4">
				<div class="col wow animate__fadeIn">
						<div class="swiper" data-slider-options='{ "loop": true, "slidesPerView": "1", "allowTouchMove":true, "autoplay": false, "keyboard": { "enabled": true, "onlyInViewport": true }, "navigation": { "nextEl": ".swiper-button-next" } }'>
								<div class="swiper-wrapper">
									<% subsidiaries.each_with_index do |subsidiary, index| %>
										<!-- start slider item -->
										<div class="swiper-slide bg-dark-grey cover-background" style="background: transparent url('<%= url_for(subsidiary.image) if subsidiary.image.attached? %>')">
												<div class="d-flex flex-column justify-content-between sm-padding-20px-lr sm-padding-15px-top sm-padding-30px-bottom h-600px">
														<div class="title-figure">
															<%= image_tag(url_for(subsidiary.logo), class: "margin-10px-top d-inline-block", alt: subsidiary.name) if subsidiary.logo.attached? %>
														</div>
														<div>
															<div class="text-white-2 text-large margin-25px-bottom w-90"><%= raw subsidiary.description %></div>
															<a href="<%= page_path(subsidiary.page) %>" class="btn btn-medium btn-rounded btn-transparent-prisma"><%= t('global.read_more') %> <i class="prisma-icon-right icon-very-small" aria-hidden="true"></i></a>
														</div>
												</div>
										</div>
										<!-- end slider item -->
									<% end %>
								</div>
								<!-- start slider pagination -->
								<div class="swiper-button-next arrow-gray arrow-big slider-navigation-style-01"><i class="prisma-icon-right"></i></div>
								<!-- end slider pagination -->
						</div>
				</div>
		</div>
</div>



<%= content_for :tail do %>
	<%= stylesheet_link_tag "accordion2.css" %>
	<style>
		<%- subsidiaries.reverse.each_with_index do |subsidiary, index| -%>
			<%- position = 'top center' if index == 2 -%>
			<%- position = 'top left' if index == 1 -%>
			<%- position = 'top right' if index == 0 -%>
			.business-line .row .col:nth-child(<%= index + 1 %>) {
				<%- if subsidiary.image.attached? -%>
				background: url("<%= url_for(subsidiary.image) %>") top center no-repeat !important;
				background-size: cover !important;
				<%- end -%>
			}
		<%- end -%>
	</style>
<% end %>
