<%- bg_color ||= '' -%>
<%- text_color, btn_color = get_prisma_element_colors(bg_color) -%>

<%- col1 = 'col-md-6' -%>
<%- text_align = 'text-start' -%>

<%- text_width = snippet.title.length >= 25 ? 'w-300px' : '' -%>

<%- header_tag = "h3" -%>
<%- header_tag = snippet.title_tag unless snippet.title_tag.blank? -%>

<div class="container-xl">
	<div class="row <%= "align-items-center #{text_color}" %>">
		<% if snippet.orientation == "right" %>
			<div class="<%= col1 %> d-flex flex-column justify-content-center align-items-end order-2 order-md-1 wow animate__fadeInLeft" data-wow-delay="0.2s">
				<%= render "info_image_desc", snippet: snippet, btn_color: btn_color %>
			</div>
			<div class="col-md-6 order-1 order-md-2 text-center wow animate__fadeInRight" data-wow-delay="0.4s">
				<%= content_tag(header_tag.to_sym, snippet.title, class: "text-gray") %>
				<% if snippet.image.attached? %>
					<%= image_tag(url_for(snippet.image), class: "border-radius-8") %>
				<% end %>
			</div>
		<% else %>
			<div class="<%= "#{col1} #{text_align}" %> wow animate__fadeInLeft" data-wow-delay="0.2s">
				<%= content_tag(header_tag.to_sym, snippet.title, class: "text-gray") %>
				<% if snippet.image.attached? %>
					<%= image_tag(url_for(snippet.image), class: "border-radius-8") %>
				<% end %>
			</div>
			<div class="col-md-6 d-flex flex-column justify-content-center align-items-end padding-five-lr wow animate__fadeInRight" data-wow-delay="0.4s">
				<%= render "info_image_desc", snippet: snippet, btn_color: btn_color %>
			</div>
		<% end %>
	</div>
</div>
