<%- bg_color ||= '' -%>
<%- text_color, btn_color = get_prisma_element_colors('bg-green') -%>

<%- header_tag = "h4" -%>
<%- header_tag = snippet.title_tag unless snippet.title_tag.blank? -%>

<%- css_content = "" -%>
<%- css_content = snippet.css_class unless snippet.title_tag.blank? -%>

<div class="container">
  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col padding-40px-all sm-padding-20px-lr text-white-2 cover-background border-left-radius-20 order-2 order-md-1" style="background-image:url('<%= url_for(snippet.background) %>');">
      <div class="transparent-box <%= css_content %>">
        <%= content_tag(header_tag.to_sym, snippet.title, class: "font-weight-600") %>
        <% unless snippet.short_description.blank? %>
          <div class="info_short_desc <%= snippet.css_desc %> last-paragraph-no-margin">
            <%= raw snippet.short_description %>
          </div>
        <% end %>
        <% snippet.link_buttons.each do |link_button| %>
          <%= render_link_text_url(link_button, "btn btn-medium #{btn_color} btn-rounded margin-20px-top d-block w-fit-content") %>
        <% end %>
      </div>
    </div>
    <div class="col cover-background border-right-radius-20 sm-h-350px order-1 order-md-2" style="background-image:url('<%= url_for(snippet.image) %>');"></div>
  </div>
</div>
