<%- bg_color ||= '' -%>
<%- text_color, btn_color = get_prisma_element_colors('bg-green') -%>

<div class="container cover-background border-radius-8 no-padding-lr" style="background-image:url('<%= url_for(snippet.background) %>');">
  <div class="transparent-box box-embroided margin-40px-all">
    <div class="row row-cols-1 row-cols-lg-2">
      <div class="col d-flex align-items-center padding-three-lr padding-three-tb lg-padding-four-lr md-padding-three-all sm-padding-15px-lr">
        <%= image_tag(snippet.image, class: "w-100") %>
      </div>
      <div class="col text-white-2 padding-six-lr padding-three-tb lg-padding-four-lr md-padding-three-all sm-padding-15px-lr">
        <h3 class="font-weight-600"><%= snippet.title %></h3>
        <p><%= snippet.short_description %></p>
        <% snippet.link_buttons.each do |link_button| %>
          <%= render_link_text_url(link_button, "btn btn-medium #{btn_color} btn-rounded d-block w-fit-content") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
