<%- bg_color ||= '' -%>
<%- text_color, btn_color = get_prisma_element_colors(bg_color) -%>
<div class="container-xl">
	<div class="row sm-margin-10px-bottom wow animate__fadeIn">
		<div class="col-12 col-lg-12 text-center text-md-start">
			<h4 class="font-weight-400 <%= text_color %>"><%= t('global.key_points') %></h4>
		</div>
	</div>
	<div class="row">
		<!-- start post item -->
		<div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start sm-margin-20px-bottom <%= text_color %> wow animate__fadeInUp">
			<div class="feature-box-1 w-70">
				<div class="d-flex align-items-center margin-15px-bottom alt-font border-bottom">
					<h3 class="char-value letter-spacing-minus-1 font-weight-300 mb-0">01.</h3>
				</div>
				<div class="h-150px sm-h-auto last-paragraph-no-margin margin-20px-lr d-flex justify-content-start align-items-end">
					<p class="w-95 sm-w-100"><%= t("java_citarum.key_point1") %></p>
				</div>
			</div>
		</div>
		<!-- end post item -->
		<!-- start post item -->
		<div class="col-12 col-md-4 d-flex justify-content-center sm-margin-20px-bottom <%= text_color %> wow animate__fadeInUp">
			<div class="feature-box-1 w-70">
				<div class="d-flex align-items-center margin-15px-bottom alt-font border-bottom">
					<h3 class="char-value letter-spacing-minus-1 font-weight-300 mb-0">02.</h3>
				</div>
				<div class="h-150px sm-h-auto last-paragraph-no-margin margin-20px-lr d-flex justify-content-start align-items-end">
					<p class="w-95 sm-w-100"><%= t("java_citarum.key_point2") %></p>
				</div>
			</div>
		</div>
		<!-- end post item -->
		<!-- start post item -->
		<div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end sm-margin-20px-bottom <%= text_color %> wow animate__fadeInUp">
			<div class="feature-box-1 w-70">
				<div class="d-flex align-items-center margin-15px-bottom alt-font border-bottom">
					<h3 class="char-value letter-spacing-minus-1 font-weight-300 mb-0">03.</h3>
				</div>
				<div class="h-150px sm-h-auto last-paragraph-no-margin margin-20px-lr d-flex justify-content-start align-items-end">
					<p class="w-95 sm-w-100"><%= t("java_citarum.key_point3") %></p>
				</div>
			</div>
		</div>
		<!-- end post item -->
	</div>
</div>
