<% archives = ArchiveType.get_corporate_materials %>
<div class="container-xl">
	<div class="row padding-50px-all sm-padding-20px-lr wow animate__fadeIn">
		<div class="col-12 col-lg-12 d-lg-flex sm-no-padding-lr">
			<div class="text-rotate">
				<h3 class="font-weight-320 text-uppercase text-flip"><%= snippet.title %></h3>
			</div>
			<% unless snippet.short_description.blank? %>
				<p class="margin-50px-bottom sm-margin-30px-bottom"><%= snippet.short_description %></p>
			<% end %>
		</div>
		<div class="col-12 col-lg-8 offset-lg-4 archives">
			<% archives.each_with_index do |archive, idx| %>
				<div class="row padding-two-tb border-bottom <%= 'border-top' if idx == 0 %>">
					<div class="col-12 col-lg-9 col-md-7 no-padding-lr sm-margin-15px-bottom sm-margin-15px-top">
						<span class="text-large text-uppercase alt-font font-weight-400 w-90 sm-w-100"><%= archive.title %></span>
						<span class="text-medium d-block"><%= archive.short_description %></span>
						<span class="text-small text-uppercase"><%= archive.try(:published_date).try(:strftime, '%d %b %Y') %></span>
					</div>
					<div class="col-lg-3 col-md-2 no-padding-lr text-start text-lg-end sm-margin-15px-bottom">
						<%= render_link_download_file(archive, "btn btn-medium btn-prisma btn-border btn-rounded") %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
