<div class="container">
  <div class="row justify-content-start align-items-center margin-40px-bottom wow animate__fadeIn">
    <div class="col-6 col-lg-7">
      <h5 class="font-weight-600"><%= snippet.title %></h5>
      <div class="mb-3 d-none d-md-block w-600px"><%= raw snippet.short_description %></div>
    </div>
    <div class="col-6 col-lg-5 no-padding-lr text-start text-end">
      <%= link_to services_path, class: "btn btn-medium btn-rounded btn-border btn-prisma" do %>
        <%= t('global.view_all') %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row m-0 justify-content-center">
      <%- @services = Service.get_service_glance -%>
      <%- arr = [1, 2, 3, 2, 1, 3] %>
      <% @services.each_with_index do |service, index| %>
        <div class="col-12 <%= [2,4].include?(index+1) ? 'col-lg-6' : 'col-lg-3' %> margin-15px-bottom">
          <div class="card service-card h-100 cover-background bg-prisma-color-<%= arr[index] %>">
            <div class="card-img-container">
              <%= image_tag(service.image1, class: "card-img-top w-100") %>
            </div>
            <div class="card-body text-white-2">
              <div class="card-title">
                <div class="d-flex justify-content-start align-items-center gap-4 margin-15px-bottom">
                  <% if service.image.attached? %>
                    <%= image_tag(service.image.variant(resize: "100x100")) %>
                  <% end %>
                  <a href="<%= service_url(service) %>" class="text-extra-large text-white-2 font-weight-600 d-block w-100"><%= service.name %></a>
                </div>
                <div class="bg-white separator-line-horrizontal-full d-inline-block margin-10px-bottom"></div>
                <span class="font-weight-600 margin-10px-bottom d-inline-block"><%= service.caption %></span>
              </div>
              <div class="card-text snippet">
                <p class="desc line-height-normal font-weight-400"><%= service.short_description %></p>
                <a href="<%= service_url(service) %>" class="btn btn-small btn-transparent-prisma btn-rounded d-block w-fit-content"><%= t('global.read_more') %></a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
