<div class="container">
    <div class="row justify-content-start">
        <div class="col-lg-7 margin-20px-bottom sm-no-margin-bottom">
          <h5 class="text-black font-weight-600"><%= snippet.title %></h5>
          <p class="text-black font-weight-300">
            <%= snippet.short_description %>
          </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-lg-2">
      <div class="col cover-background md-h-400px sm-h-300px border-radius-8 sm-no-border-radius wow animate__fadeIn" style="background-image:url('<%= image_url('about-prisma.png') %>')"></div>
      <div class="col px-0 bg-extra-dark-gray text-start sm-padding-20px-tb wow animate__fadeIn">
          <div class="swiper" data-slider-options='{ "loop": true, "slidesPerView": "1", "allowTouchMove":true, "autoplay": false, "keyboard": { "enabled": true, "onlyInViewport": true }, "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev" }, "pagination": { "el": ".swiper-pagination-01", "clickable": true } }'>
              <div class="swiper-wrapper">
                  <%- @testimonials = Testimonial.all -%>
                  <% @testimonials.each do |testimonial| %>
                  <!-- start slider item -->
                  <div class="swiper-slide last-paragraph-no-margin">
                      <div class="padding-nine-all xl-padding-nine-all lg-padding-six-all md-padding-four-all sm-padding-15px-lr">
                          <i class="fa-solid fa-quote-left text-pink icon-large margin-10px-bottom"></i>
                          <blockquote class="border-color-pink">
                              <p><%= testimonial.message %></p>
                              <footer>
                                <p class="alt-font font-weight-600 text-black text-uppercase mb-2"><%= testimonial.name %></p>
                                <p class="alt-font text-small text-black text-uppercase mb-0"><%= testimonial.title %></p>
                              </footer>
                          </blockquote>
                      </div>
                  </div>
                  <!-- end slider item -->
                  <% end %>
              </div>
              <!-- start slider pagination -->
              <div class="swiper-pagination swiper-pagination-01 swiper-pagination-square swiper-pagination-black"></div>
              <!-- end slider pagination -->
          </div>
      </div>
    </div>
</div>
