<div class="container">
  <div class="row justify-content-start">
    <div class="col-xl-6 col-lg-6 col-md-10 margin-40px-bottom sm-margin-30px-bottom">
      <h5 class="text-black font-weight-600"><%= snippet.title %></h5>
      <p class="text-black margin-5px-bottom text-extra-large font-weight-300">
        <%= snippet.short_description %>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="swiper swiper-pagination-bottom blog-slider" data-slider-options='{ "slidesPerView": "1", "allowTouchMove":true, "loop":false, "spaceBetween": 30, "autoplay": { "delay": 3000, "disableOnInteraction": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "navigation": { "nextEl": ".swiper-button-next-1", "prevEl": ".swiper-button-prev-1" }, "breakpoints": { "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 } }, "pagination": { "el": ".swiper-pagination-1", "clickable": true } }'>
          <div class="swiper-wrapper">
            <%- @testimonials = Testimonial.all -%>
            <% @testimonials.each do |testimonial| %>
              <!-- start testimonial item -->
              <div class="swiper-slide">
                  <div class="margin-half-all bg-white box-shadow-light padding-eight-all sm-padding-30px-all border-radius-8">
                      <p class="margin-45px-bottom sm-margin-20px-bottom"><%= testimonial.message %></p>
                      <div class="d-flex justify-content-between">
                        <div>
                          <% if testimonial.image.attached? %>
                            <img src="<%= url_for(testimonial.image.variant(resize: "100x100")) %>" alt="Prisma Clients"/>
                          <% end %>
                          <span class="text-extra-dark-gray text-small text-uppercase d-block line-height-10 alt-font font-weight-600"><%= testimonial.name %></span>
                          <span class="text-small text-uppercase"><%= testimonial.title %></span>
                        </div>
                        <div class="d-flex align-items-end">
                          <%= image_tag("quote-symbol.png") %>
                        </div>
                      </div>
                  </div>
              </div>
              <!-- end testimonial item -->
            <% end %>
          </div>
          <div class="swiper-pagination-1 text-center swiper-pagination-square"></div>
      </div>
    </div>
  </div>
</div>
