<%= simple_form_for @boostad_service, url: (@boostad_service.new_record? ? admins_boostad_services_path : admins_boostad_service_path(@boostad_service.id)), method: (@boostad_service.new_record? ? :post : :put) do |f| %>
	<div class="row">
		<div class="col-lg-8">
			<div class="card">
				<div class="card-body">
					<%= f.error_notification %>
          <fieldset>
					<%= f.input :title, as: :string %>
					<%= f.input :description, as: :text %>
					<%= f.input :image, as: :file, input_html: { class: "mb-3", accept: "image/png, image/jpg, image/jpeg, image/webp" } %>
					</fieldset>
					<%= f.error :base %>
					<div class="form-actions">
						<%= f.button :submit, :class => 'btn btn-secondary' %>
						<% unless @boostad_service.new_record? %>
							<%= link_to "Cancel", admins_boostad_service_path(@boostad_service.id), :class => 'btn btn-light' %>
						<% else %>
							<%= link_to "Cancel", admins_boostad_services_path, :class => 'btn btn-light' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="row">
				<%= render "admins/shared/error_messages", :target => @boostad_service, col: 'col-lg-12' %>
			</div>
		</div>
	</div>
<% end %>
