<table class="table table-hover">
	<tr>
		<td style="width:15%;"><b>ID</b></td>
		<td><%= @service.id %></td>
	</tr>
	<tr>
		<td style="width:15%;"><b>Slug</b></td>
		<td><%= link_to "/#{@service.slug}", service_path(@service), target: :_blank %></td>
	</tr>
  <tr>
    <td><b>Image</b></td>
    <td>
      <%= image_tag @service.image.variant(resize_to_limit: [50,50]) %>
    </td>
  </tr>
	<tr>
		<td><b>Name</b></td>
		<td><h5 class="fs-14 mb-0 text-body"><%= @service.name %></h5></td>
	</tr>
	<tr>
		<td><b>Caption</b></td>
		<td><%= @service.caption %></td>
	</tr>
	<tr>
		<td><b>Banner Section</b></td>
		<td><b><%= link_to @service.banner_section.name_id_label, admins_banners_path(banner_section_id: @service.banner_section.id) if @service.banner_section %></b></td>
	</tr>
	<tr>
		<td><b>Short Description</b></td>
		<td><%= @service.short_description %></td>
	</tr>
	<tr>
		<td><b>Description</b></td>
		<td><%= @service.description %></td>
	</tr>
	<tr>
		<td><b>Benefit Title</b></td>
		<td><%= @service.benefit_title %></td>
	</tr>
	<tr>
		<td><b>Benefit Description</b></td>
		<td><%= @service.benefit_description %></td>
	</tr>
</table>
<div class="form-actions">
  <%= link_to 'Edit', edit_admins_service_path(@service.id), :class => 'btn btn-secondary' %>
  <%= link_to 'Destroy', admins_service_path(@service.id), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger' %>
  <%= link_to 'View All', admins_services_path, :class => 'btn btn-light' %>
</div>
