<!-- start contact form -->
<section id="contact-form-section" class="wow animate__fadeIn">
  <div class="container cover-background border-radius-20" style="background-image:url('<%= image_url('bg-contact.png') %>');background-position:top left !important;">
    <div class="row row-cols-1 row-cols-lg-2">
      <div class="col last-paragraph-no-margin sm-margin-30px-bottom md-h-450px sm-h-350px text-white-2 padding-six-lr padding-five-half-tb lg-padding-four-lr md-padding-ten-half-tb md-padding-twelve-half-lr sm-padding-15px-lr">
        <h3 class="font-weight-600"><%= t('contacts.title') %></h3>
        <p><%= t('contacts.short_description') %></p>
        <p><%= t('contacts.instructions') %></p>
      </div>
      <div id="inquiryForm" class="col padding-three-all lg-padding-two-all sm-padding-15px-all">
        <%= render "inquiries/form" %>
      </div>
    </div>
  </div>
</section>
<!-- end contact form -->
