<%= flash_message2 %>
<div class="border border-white border-radius-8 padding-six-all lg-padding-five-all sm-margin-30px-all">
  <%= simple_form_for @inquiry || Inquiry.new, url: inquiries_path, method: :post, remote: true, wrapper: :form_border do |f| %>
    <div class="row">
      <%= f.input :name, label: false, placeholder: t('inquiries.name'), grid_wrapper_html: { class: "col-12 col-lg-6" } %>
      <%= f.input :email, label: false, placeholder: t('inquiries.email'), grid_wrapper_html: { class: "col-12 col-lg-6" } %>
      <%= f.input :company_name, label: false, placeholder: t('inquiries.company_name'), grid_wrapper_html: { class: "col-12 col-lg-6" } %>
      <%= f.input :phone, label: false, placeholder: t('inquiries.phone'), grid_wrapper_html: { class: "col-12 col-lg-6" } %>
      <%= f.input :message, as: :text, input_html: { rows: "4" }, label: false, placeholder: t('inquiries.message'), grid_wrapper_html: { class: "col-12 col-lg-12" } %>
    </div>
    <div class="row">
      <div class="col-12 margin-10px-top">
        <% if @show_recaptcha_v2 %>
          <input type="hidden" value="true" name="inquiry[use_v2]" id="inquiry_use_v2">
          <%= raw Prisma::Recaptcha.recaptcha_v2_render %>
        <% else %>
          <%= raw Prisma::Recaptcha.recaptcha_execute('inquiry') %>
        <% end %>
        <button type="submit" class="btn btn-medium btn-transparent-prisma btn-rounded"><%= t('global.submit') %></button>
      </div>
    </div>
  <% end %>
</div>
