<div class="table-card">
	<table class="table table-hover table-striped align-middle mb-0">
		<thead class="table-light">
			<tr>
				<th class="text-center" style="width:10%;">ID</th>
				<th>Image</th>
				<th>Name</th>
				<th>Slug</th>
				<th>Banner Section</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% for industry in @industries %>
				<tr>
					<td class="text-center"><%= industry.id %></td>
					<td><%= image_tag industry.image.variant(resize_to_limit: [100,100]) %></td>
					<td><h5 class="fs-14 mb-0"><%= link_to industry.name, admins_industry_path(industry.id), class: "text-body" %></h5></td>
					<td><%= link_to "/#{industry.slug}", industry_path(industry), target: :_blank %></td>
					<td><b><%= industry.try(:banner_section).try(:name_id_label) %></b></td>
					<td>
						<div class="dropdown">
							<button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="ri-more-fill"></i>
							</button>
							<ul class="dropdown-menu dropdown-menu-end">
								<li>
									<%= link_to admins_industry_path(industry.id), class: "dropdown-item" do %>
										<i class="ri-eye-fill align-bottom me-2 text-muted"></i> View
									<% end %>
								</li>
								<li>
									<%= link_to edit_admins_industry_path(industry.id), class: "dropdown-item edit-list" do %>
										<i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit
									<% end %>
								</li>
								<li class="dropdown-divider"></li>
								<li>
									<%= link_to admins_industry_path(industry.id), :data => { :confirm => 'Are you sure?' }, :method => :delete, class: "dropdown-item remove-list" do %>
										<i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete
									<% end %>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<!-- pagination -->
<%= paginate @industries %>
