<% title_page("award_category details") %>
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<table class="table table-hover">
					<tr>
						<td style="width:10%;"><b>ID</b></td>
						<td><%= @award_category.id %></td>
					</tr>
					<tr>
						<td><b>Image</b></td>
						<td>
              <% if @award_category.image.attached? %>
                <%= image_tag(@award_category.image.variant(resize_to_limit: [100,100])) %>
              <% end %>
						</td>
					</tr>
					<tr>
						<td><b>Name</b></td>
						<td><h5 class="fs-14 mb-0 text-body"><%= @award_category.name %></h5></td>
					</tr>
					<tr>
						<td><b>Description</b></td>
						<td><%= raw @award_category.description %></td>
					</tr>
				</table>
				<div class="form-actions">
					<%= link_to 'Edit', edit_admins_award_category_path(@award_category.id), :class => 'btn btn-secondary' %>
					<%= link_to 'Destroy', admins_award_category_path(@award_category.id), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'btn btn-danger' %>
					<%= link_to 'View All', admins_award_categories_path, :class => 'btn btn-light' %>
				</div>
			</div>
		</div>
	</div>
</div>
